
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Reminder App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
            
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Reminder App</h1>
        <form class="form-signin" action="http://localhost:5002/checkOTP" method="POST">
          <label for="inputOTP" class="sr-only">OTP Number</label>
          <input type="otp" name="inputOTP" id="inputOTP" class="form-control" placeholder="OTP" required autofocus>
          <input type="submit" id="btnSignIn" class="btn btn-lg btn-primary btn-block" value="Enter OTP"></button>
        </form>
        {% if error %}
        <p><strong>Alert:</strong> {{ error }}
        {% endif %}
      </div>
    </div>
  </body>
</html>

